#root{
  background-color: #0F1819;
  color: #EBEBEB;
  height:100vh;

}
html, body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

.flex{
  display: flex;
}
.container-lg{
  margin-left: 2%;
  margin-right: 2%;
  width:100%;
  position: relative;
}
.green{
  color: #99EF03;
}
.red{
  color:#EB4826
}

.nav{
  margin-top: 2rem;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index:100;
}
.nav-space{
  height:140px;
}

.nav-col{
  display:flex;
  position:relative;
  align-items: center;
  width:100%;
  backdrop-filter: blur(10px);
}

.nav-right-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  position: relative;
  text-decoration: none;
  color:#EBEBEB;
  overflow: hidden;
  

}
.op-grey{
  background-color: hsla(0, 0%, 100%, 0.1);
}
.border-grey{
  border:1px solid hsla(0, 0%, 100%, 0.1);
}
.border-grey-top{
  position: absolute;
  border:.5px solid hsla(0, 0%, 100%, 0.1);
  left:50%;
  z-index: 10;
  animation: border-grey-top 2.2s ease forwards;
}
@keyframes border-grey-top{
  0%{
    width:0%;
  }
  100%{
    width:50%;
  }
}
.border-grey-bottom{
  position: absolute;
  border:.5px solid hsla(0, 0%, 100%, 0.1);
  bottom:0;
  right:0%;
  animation: border-grey-bottom 2.2s ease forwards;
}
@keyframes border-grey-bottom{
  0%{
    width:0%;
  }
  100%{
    width:50%;
  }
}



.border-grey-left {
  position: relative;
}

.border-grey-right {
  position: relative;
}

.border-grey-left::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 0;
  background-color: hsla(0, 0%, 100%, 0.1);
  animation: border-grey-anim 2.2s ease forwards;
}

.border-grey-right::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 0;
  background-color: hsla(0, 0%, 100%, 0.1);
  animation: border-grey-anim 2.2s ease forwards;
}

@keyframes border-grey-anim {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.nav-right-text{
  /* width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px); */
  animation: nav-right-text 2.2s ease forwards;
}
@keyframes nav-right-text{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}


.under-text{
  position: absolute;
  top:0;
  height: 0%;
  width: 100%;
  color: #0F1819;
  z-index:6;
  transition: 0.3s ease;
}
.under{
  height:0%;
  width: 100%;
  background-color: #EBEBEB;
  position: absolute;
  bottom:0;
  z-index: 5;
  transition: 0.3s ease;
}

.nav-right-box:hover .under{
  height: 100%;
}


.nav-right-box:hover .under-text{
  height: 100%;
  /* animation: height-up 0.3s ease; */
}


@keyframes height-up{
  from{
    height:0%;
  }
  to{
    height:100%;
  }
}
@keyframes height-down{
  from{
    height:100%;
  }
  to{
    height:0%;
  }
}



.name{
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(10px);
  animation: name 2.2s ease forwards;
}
.name-words{
  padding-left: 20px;
  opacity:0;
  transition: 1.2s;
}
.logo{
  height:4rem;
  width: 4rem;
  position: relative;
  left:-4rem;
  animation: width-up-4rem 2.2s ease forwards;
}
.logo-container{
  height: 4rem;
  width:4rem;
  overflow: hidden;
}

@keyframes width-up-4rem{
  0%{
    left:-4rem;
  }
  75%{
    left:-3.6rem;
  }
  99%{
    left:0rem; 
  }
  100%{
    left:0rem;
  }
}

@keyframes name{
  0%{
    width: 0;
    left: 0;
    
  }
  75%{
    width:calc(100% - .4rem);
    left: .4rem;
    
  }
  99%{
    width:calc(100% - 4rem);
    left: 4rem;
    
  }
  100%{
    width: calc(100% - 4rem);
    left:4rem;
  }
}

.logo-container:hover + .name .name-words{
  opacity:1;
}

/* Home */

.container-xl{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  width:80%;
  position: relative;
}

.portfolio-card{
  width:100%;
  margin-right: 2%;
  display: flex;
  height:100%;
}
.left-card{
  width: 50%;
}
.right-card{
  width: 50%;
}
.card-img{
  width:50%;
}




